---
---

.page-header {
  color: #fff;
  text-align: center;
  background-color: #b2276e;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

@import "{{ site.theme }}";
